<h3>Bonjour {{name}}!</h3>
<p>Veuillez cliquer sur le lien si dessous pour confirmer votre email !</p>
<p>
  <a href='{{url}}'>Confirm</a>
</p>
<p>Si vous n'êtes pas responsable de cette demande, veuillez ignorer cet email.</p>
<p>Merci !</p>
